* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    align-items: center;
}

.btn2 {
    background-color: solid white;
    border: none;
    padding: 8px 12px;
    height: 35px;
    width: auto;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    align-items: center;
}

.btn3 {
    background-color: transparent;
    border: 2px solid white;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(252, 252, 252);
    align-items: center;
}
.btn:hover{
  background-color: white;
    color: #30B868;
    
}
.btn2:hover{
    background-color: #30B868;
    color: white;
}
.btn3:hover{
    background-color: white;
    color: #30B868;
}

header {
    background-color: #ffffff;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50 px;
    /* padding-top: 26px; */

}

nav {
    width: 80%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-container {
    background-color: #ffffff;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

#banner {
    padding: 100px;
    /* border: 1px solid red; */
    margin: 151px 100px;
    text-align: center;

}

#banner .banner-content h1 {
    font-size: 72px;
    line-height: 84px;
    font-style: bold;
    justify-content: center;
}

#banner .banner-content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;

}

.pair-button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid rgb(43, 255, 0); */

}
#about{background-color:#F7F6F2}

#about .about-container {
   
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

#about .about-heading {
    text-align: center;
}

#about .about-heading h1 {
    margin-top: 5px;
    font-size: 48px;
    color: #001931;
}

#about .about-heading p {
    margin-top: 5px;
    font-size: 16px;
    color: #627382;
}

#about .about-container .skill-box {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.skill-box .skill-card {
    background-color: #FFFFFF;
    margin-top: 35px;
    padding: 24px;
    padding-top: 100px;
    border-radius: 8px;
    height: 300px;
    width: 320px;
    box-shadow: 0 6px 50px 0 #a78f8f1f;
    text-align: center;


}

.skill-box .skill-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.skill-box .skill-card p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.icon-box {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    justify-content: center;
}

.icon-box img {
    width: 30px;
    height: 30px;
}

.middle-section-container{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;   
    justify-content: space-between;
    align-items: center;

}

.right-side-section h2{
    font-size: 48px;
    color: #001931;
}
.right-side-section p{
    margin-top: 15px;
    font-size: 16px;
    color: #627382;
}
.right-side-section ul{
    margin-top: 15px;
    font-size: 20px;
    color: #001931;
   line-height: 2.5;
}
.bottom-section-container{
    margin-top: 15px;
    text-align: center;
    background-color: #F7F6F2;
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
}
.bottom-section-container h2{
    margin-top: 15px;
    font-size: 48px;
    color: #001931;
}
.bottom-section-container p{
    margin-top: 15px;
    font-size: 16px;
    color: #627382;
}
.bottom-section-container button{
   margin-top: 20px; 
}
.footer-container-section{
    display: flex;
    justify-content: space-between;
    background-color:#546d85;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding:70px 80px;
    align-items: center;
}

.right-social-media-section img{
    height: 20px;
    
}
.footer-background{
margin-top: 30px;    
background-color: #546d85;
text-align: center;
color: #FFFFFF;
padding: 20px;
}