*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #30B868;
    border: none;
    padding:12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    align-items: center;
}
header{
    background-color: #ffffff;
    padding-top: 16px;
}
nav{
    width:80%;
    max-width:1600px;
    /* border:1px solid red; */
    margin:0px auto;  
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:32px;
}
nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}